# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Cache files
.cache/

# Package lock file
package-lock.json

# System files
.DS_Store
Thumbs.db

# Editor and IDE files
.idea/
.vscode/
*.swp
